/* Write your CSS code here */
.lst-container {
  width: 95%;
  padding: 5%;
}
.card-container {
  width: 100%;
  border: solid 2px #00e7ff;
  /* padding: 15px; */
}
.card-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #092e33;
}
.heading {
  color: #00e7ff;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.crypto-image {
  width: 100%;
}
.card-text {
  font-family: 'Roboto';
  font-size: 20px;
  color: white;
  font-weight: bold;
  width: 120px;
}
.usd-euro-container {
  display: flex;
  justify-content: space-around;
}
